

.contribution-payment-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }


  .left-column {

    margin: 50px 140px;
    padding: 20px;
  }
  .campaign-user-container{
    margin-top: 20px;
  }

  .right-column {
    width: 55%;
    margin: 20px;
    padding: 20px;
  }

  .dollar-sign {
    margin-right: 5px;
    font-size: 1.2em;
    color: #333;
  }
