
input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
select {
  padding: 10px;
  width: 50%;
}
.form-group{
    margin: 38px 0px;
}

.create-new-campaign {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .form-label {
    font-size: 1.2em;
    color: #333;
  }

  .form-description {
    font-size: 0.9em;
    color: #555;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .error {
    color: #ff6347;
  }

  .add-category-button {
    background-color: #a253fc;;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .selected-categories {
    margin-top: 20px;
  }

  .selected-categories ul {
    list-style-type: none;
    padding: 0;
  }

  .selected-categories li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .selected-categories button {
    background-color: #f27676;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .create-campaign-button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .launch-campaign{
    background-color: #a253fc;
    padding: 15px;
    color: white;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: bold;
  }

  .launch-campaign:hover {
    background-color: #8250d8; /* Change background color on hover */
  }

  .form-date{
    width: 50%;
  }

  .remove-categories{
    margin-top: 10px;

  }

  .category-remove-container{
    width: 50%;
    display: flex;
    justify-content: space-between;

  }

  .campaign-category{
    margin-top: 10px;
  }
