.banner {
  position: relative;
  text-align: center;
}


.banner-title,
.banner-description {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  z-index: 1;
}



.banner-description {
  top: 57%;
  font-size: 1.2em;
}

.banner-bg-image{
  width: 100%;
  height:280px;
  object-fit: cover;

}
.view-campaigns-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .banner {

    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .banner-title {

    font-size: 2em;
    margin-bottom: 10px;
  }


  .campaigns-grid {
    display: flex;
    justify-content: space-between;
  }

  .search-bar-sort-by-container{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .left-column-container{
    flex:4;
    margin: 0 10px;
    display: flex;
    flex-direction: column;

  }
  .right-column {
    flex: 0.8;
  }

  .right-column {
    order: -1;
  }

  /* .campaign-container {
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  } */

  .campaign-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .campaign-image2 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  /* .campaign-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  } */

  /* .campaign-description {

    margin-bottom: 10px;
  } */


  .days-left,
  .categories {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 5px;
  }

  .right-column {
    padding-left: 20px;
  }



  .sort-select{
    padding: 10px;
     border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 15px;
  }
  .sort-label {
    display: block;
    margin-left:10px;
  }

  .category-list .category {
    margin-bottom: 10px;
  }

  .category-list .category:hover {
    background-color: #f8f8f8;
  }

  .campaign-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .view-campaign-copy{
    padding: 15px;
  }

  .filter-result{
    color:#696969;
    font-weight:700;
  }

  .filter-result-category{
    color:#b0b0b0;
    font-size: small;
    margin-top: 30px;
  }

  .category-name{
    font-weight: lighter;
    text-decoration: none;
    color: #333;
    transition: font-weight 0.3s, color 0.3s;
  }

  /* .category-name.active {
    font-weight: bold;
    color: #555;
  } */

  .all-categories-container{
    text-decoration: none
  }

  .search-container {
    position: relative;


    margin: 20px 10px;

}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.search-input{
  width: 900px;
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    padding-left: 30px
}

i{
  margin-right: 10px;
}
