
.delete-confirmation-modal{
    padding: 20px;
    align-items: center;
    text-align: center;
}

.button-container{

    align-items: center;
}

.confirm-delete-button{
    background-color: rgb(238, 120, 120);
    margin-right: 10px;
    padding: 10px;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;

}


.cancel-delete-button{
    background-color: #aed1f6;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 10px;
}
