/* LandingPage.css */
* {
  font-family: sans-serif;
  text-decoration: none;
}
.landing-page {

    padding: 20px;
    text-align: center;
  }

  .landing-title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
  }

  .landing-description {
    font-size: 18px;
    margin: 10px 0px;
    color: #777;
  }

  /* horizontal-scrollable-bar styling */
  .popular-project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

   .popular-project-title-container{
    text-align: left;
   }

   .popular-projects-title {
    font-size: 25px;
    margin-top: 30px;
  }

  .horizontal-scrollable-bar {
    display: flex;
    overflow-x: auto;
    margin-bottom: 20px;
    padding: 10px;
  }
  .navigation-icons{
    display: flex;
    align-items: center;
  }

  .go-back-button{
    width: 40px;
    transform: scaleX(-1);
    margin-right: 10px;
    cursor: pointer;

  }
  .campaign-container {
    display: flex;
    flex-direction: column;

    width: 280px;
    margin:0 10px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    text-decoration: none;
    color:#333;
    height: 600px;


    &:hover {
      transform: scale(1.05);
    }
  }

  .campaign-image {
    width: 100%;
    overflow: hidden;
    flex: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .campaign-info-container {
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 50%;

  }
  .funding-container{
    display: flex;
    justify-content: space-between;

  }

  .funding{
    color:#d64d64;
    font-size: 13px;
  }
  .campaign-copy-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
  }

  .save-favorite{
    display: flex;
    align-items: center;
    color: #9d9d9d;
  }
  .save-favorite:hover{
    color: #393939;
  }
  .favorited {
    color: red;
  }

  .campaign-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
  }


  .fal.fa-heart {
    color: #ff6347;
  }

  .campaign-description {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
  }


  .funding-details-container{
    display: flex;
    flex-direction: column;

  }

  .campaign-categories {
    font-size: 14px;

    color: #777;
  }
  .funding-details {
    font-size: 18px;
    margin-right: 3px;
    color:#555
  }

  .usd-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }


  .funding-percentage-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }


  .usd-raised{
    font-size: 12px;
    color:#777
  }
  .percentage-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 5px;
    position: relative;
    border-radius: 5px;
  }

  .fill {
    height: 100%;
    background-color:#ff9292;
    border-radius: 5px;
  }

  .days-left-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .days-left {
    font-size: 14px;
    margin: 5px 0;
  }









.campaign-number{
  margin-left: 10px;
  color:rgb(148, 148, 148)
}

  .rotating-images-container {
    margin: 40px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .explore-button {
    margin-top: 10px;
    background-color:#a253fc;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }


  .move-forward-button{
    width: 40px;
    cursor: pointer;
  }

  .back-icon:hover img{
    transform: scale(-1.1);
  }

.next-icon:hover img {
  transform: scale(1.1);
}

.back-icon:active img{

  transform: scale(-0.9);
}

.next-icon:active img {
  transform: scale(0.9);
}

  .campaign-image1 {
    width: 100%;
    height:400px;
    object-fit: cover;

    top: 0;
    left: 0;

    z-index: -1;
  }

  .campaign-image1 {
    opacity: 1;

  }

  @keyframes fadeInOut {
    0%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0.9;
    }
  }
  .arrow-container{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

  .overlay {
    position: absolute;
    top: 100;
    overflow: hidden;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }

  .vision-fund-picks{
    background-color: #fff;
    color:black;
    margin-bottom:10px;
    border: none;
    outline: none;
    text-decoration: none;
  }

  .campaign-info1 {
  position: absolute;
  top: 40%;
  left: 25%;

  text-align: left;
  color: #fff;
  }


  .campaign-description1 {
    font-size: 16px;
    color: #bcbcbc;
    margin: 10px 0;
  }

  .see-campaign-link {
    text-decoration: underline;
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
  }


.category-info-container{
  margin-top: 20px 0;
  padding: 30px;
}


  .interest-categories-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
  }

  .interest-categories-description {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
  }

  .category-icons {
    display: flex;
    justify-content: center;
  }

  .category {
    text-decoration: none;
    color: #333;
  }

  .category-container {
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;


  }

  .category-icon{
    width: 40%;
  }
  .category:hover .category-container {
    transform: scale(1.05);
  }

  .category-name {
    font-size: 1em;
    margin-top: 8px;
  }



  .project-statistics {
    display: flex;

    margin: 20px;
    justify-content: space-evenly;
  }

  .statistic {
    text-align: center;
    width:250px;
    margin-top: 10px;
  }

  .data-title{
    font-size: 30px;
    margin: 13px;

  }
  .statistic h3 {
    font-size: 33px;
    margin-bottom: 5px;
    color:#a253fc;
  }

  .statistic p {
    font-size: 20px;
    color: #555;
    font-weight: lighter;

  }

  .data-container{
    background-color:#f8f9fa;
    padding: 40px;
    margin: 15px 0;
  }


  /* footer */
  .footer {
    background-color: #f8f9fa;
    padding: 20px 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .row {
    margin-bottom: 17px;

  }




  .social-icons a {
    font-size: 17px;
    margin-right: 10px;
    color: #0077b5;
  }

  .footer-links li {
    list-style-type: none;
    margin-bottom: 10px;
  }

  .footer-links a {
    text-decoration: none;
    color: #333;
  }

  .copyright {
    color: #777;
  }

  .small-link {
    font-size: 17px;
}
