/* LandingPage.css */
.landing-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
  }

  .landing-title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
  }

  .landing-description {
    font-size: 18px;
    margin: 10px 0px;
    color: #777;
  }
  .funding{
    color:#a253fc;
    font-weight: bold;
  }
  .explore-button {
    margin-top: 10px;
    background-color:#a253fc;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
.campaign-copy-container{
  display: flex;
  flex-direction: column;


}
  .funding-container{
    display: flex;
    justify-content: space-between;
  }

  .rotating-images-container {
    margin: 20px 0;
    padding: 20px;

  }

  .campaign-image1 {
    width: 1920px;
    height:400px;
    object-fit: cover;
    z-index: -1;
  }

  .overlay {
    position: absolute;
    top: 100;


    width: 1920px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
  }

  .vision-fund-picks{
    background-color: #fff;
    color:black
  }

  .campaign-info1 {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);

  text-align: left;
  color: #fff;
  }

  .campaign-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .campaign-description1 {
    font-size: 16px;
    color: #bcbcbc;
    margin: 10px 0;
  }

  .see-campaign-link {
    text-decoration: underline;
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
  }

.popular-project-container{
   display: flex;
   flex-direction: column;
   align-items: center;

}

  .popular-projects-title {
    font-size: 25px;
    margin-top: 30px;

  }

  .popular-project-title-container{
   text-align: left;
  }

  .horizontal-scrollable-bar {
    display: flex;
    overflow-x: auto;
    margin-bottom: 20px;
    padding: 10px;
  }

  .campaign-container {
    width: 300px;
    margin-right: 20px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    text-decoration: none;
    color:#333;

    &:hover {
      transform: scale(1.05);
    }
  }


  .campaign-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .campaign-info-container {
    padding: 15px;
  }

  .campaign-title {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
  }

  .fal.fa-heart {
    color: #ff6347;
  }

  .campaign-description {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
  }

  .funding-details {
    font-size: 14px;
    margin: 5px 0;
  }

  .days-left {
    font-size: 14px;
    margin: 5px 0;
  }

  .campaign-categories {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
  }


  .interest-categories-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
  }

  .interest-categories-description {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
  }

  .category-icons {
    display: flex;
    justify-content: space-around;
  }

  .category {
    text-decoration: none;
    color: #333;
  }

  .category-container {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }

  .category:hover .category-container {
    transform: scale(1.05);
  }

  .category-name {
    font-size: 1em;
    margin-top: 8px;
  }
