.navigation{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
  }

  .navigation-logo {
    width: 60%;
    margin: 20px
  }

.navbar-user{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;

}
.start-a-campaign{
  text-decoration: none;
  color:#a253fc;
  cursor: pointer;
}
.hidden {
    display: none;
  }


  .profile-dropdown {
    position: absolute;
    top: 91px;
    z-index: 1;
  }

  .profile-dropdown > *{

    text-decoration: none;
  }

  .profile-dropdown > *:hover{
    color: #a7289c;
    text-decoration: none;
  }

  .profile-dropdown button{
    background-color: #a253fc;
    color: #fff;

  }

  .profile-dropdown button:hover{
    color: #a7289c;
    background-color: #fff  ;

  }


  .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
